<header class="download bg-primary text-center" ng-app="addPoll"
    style="height: 89vh; min-height: 730px; padding-top: 0; padding-bottom: 0; background: linear-gradient(to left,#7b4397,#dc2430);">
    <div class="container h-100" ng-controller="pollCtrl" style="padding-top: 5%;">
        <div class="row">
            <div class="card text-left">
                <div class="card-header">
                    <h3>Crear encuesta</h3>
                </div>
                <div class="card-body">
                    <form action="/polls/add" method="POST">
                        <div class="col-md-20">
                            <div class="form-group">
                                <label for="question">Nombre: </label>
                                <input type="text" ng-model="question" name="question" id="question"
                                    placeholder="Ingresa el nombre de la encuesta" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="question">Descripcion: </label>
                                <input type="text" ng-model="description" name="description" id="description"
                                    placeholder="Ingresa el nombre de la encuesta" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="scopeSex">Genero: </label>
                                <select id="scopeSex" name="scopeSex">
                                    <option value="Todos">Todos</option>
                                    <option value="Masculino">Masculino</option>
                                    <option value="Femenino">Femenino</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="region">Region: </label>
                                <select id="region" name="region">
                                    <option value="Nacional">Nacional</option>
                                    {{#each estados}}
                                    <option value="{{nombre}}">{{nombre}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="dateRange">Fecha/Hora de inicio y fin: </label>
                                <input type="text" name="dateRange" id="daterange" value="01/01/2018 - 01/15/2018"
                                    placeholder="Ingresa una respuesta" class="form-control" />
                            </div>

                            <div class="form-group" data-ng-repeat="answer in choices">
                                <label for="answers">Respuesta: </label>
                                <input type="text" ng-model="answers" name="answers" id="answers"
                                    placeholder="Ingresa una respuesta" class="form-control" />
                            </div>
                            <div>
                                <button type="button" class="mb-sm btn btn-primary" ng-click="addChoice()">Agregar otra
                                    respuesta</button>
                                <button type="submit" class="mb-sm btn btn-success">Crear encuesta</button>
                                <!--<button type="submit" class="mb-sm btn btn-success" <!--ng-click="create()">Crear encuesta</button>-->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>

<script src="/scripts/addAnswerButton.js"></script>
<script src="/scripts/dateTimePickerPoll.js"></script>