<% for(var i=0 ; i < polls.length ; i++) { %>
    Poll number <%= i+1 %>:
    <%= polls[i].question %> </br>
    <% for(var j=0 ; j < polls[i].answers.length ; j++) { %>
        Answer number <%= j+1 %>: 
        <%= polls[i].answers[j]%></br>
    <% } %>
    </p>
<% } %>