<header class="masthead">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-7 my-auto">
                <div class="header-content mx-auto">
                    <h1 class="mb-5">La manera m치s f치cil de realizar una votaci칩n online es aquella que lo hace de forma
                        sencilla y r치pidamente. </h1>
                    <a href="/fingerprint/login" class="btn btn-outline btn-xl js-scroll-trigger">VOTAR</a>
                </div>
            </div>
            <div class="col-lg-5 my-auto">
                <div class="device-container">
                    <div class="device-mockup ipad_air portrait silver">
                        <div class="device">
                            <div class="screen" style="text-align: center; margin-top: 20%;">
                                <img src="img/huellax2.png" class="img-fluid" style="width: 90%;">
                            </div>
                            <div class="button">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>