<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <a href="/users/login" class="btn btn-primary">Iniciar Sesion</a>
            <h1 class="mb-1">Finger Vote</h1>
            <h3 class="mb-5">
                <em>Finger vote</em>
            </h3>
            
        </div>
    </header>

</main>

