<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Finger Vote</h1>
            <h3 class="mb-5">
                <em>Finger vote</em>
            </h3>
        </div>
    </header>
</main>

