body{
    background: #f5f6f5;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    /*overflow: hidden;*/
}

.index{
    width: 100vw;
    height: 100vh;
}

.masthead {
    color: #b0c9e1; 
    min-height: 30rem;
    width: 100%;
    height: 100%;
    padding-top: 8rem;
    background-image: url('/img/background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.masthead h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
}

@media (min-width: 992px) {
    .masthead h1 {
        font-size: 5.5rm;
    }
}

img {
    width: 50px;
    border-radius: 50px;
}

input {
    border: 2px solid whitesmoke;
    border-radius: 20px;
    padding: 12px 10px;
    text-align: center;
    /*width: 250px;*/
}

.form-control {
    border: 2px solid whitesmoke;
    border-radius: 20px;
    padding: 12px 10px;
    text-align: center;
    /*width: 250px;*/
}
.card {
    width: 100%;
    margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .container {
    padding: 2px 16px;
    color: #ffffff width=500;
  }

select {
    border: 2px solid whitesmoke;
    border-radius: 20px;
    padding: 12px 10px;
    text-align: center;
    width: 250px;
}

button {
    border: none;
    border-radius: 10px;
    padding: 12px 10px;
    text-align: center;
    cursor: pointer;
    background: coral;
    color: whitesmoke;
}