body {
    font-family: sans-serif;
}

#votation {
    margin: 4px;
    float: left;
}

#votation label {
    float: left;
    width: 170px;
    margin: 4px;
    background-color: #EFEFEF;
    border-radius: 4px;
    border: 1px solid #D0D0D0;
    overflow: auto;
}

#votation label span {
    text-align: center;
    font-size: 32px;
    padding: 13px 0px;
    display: block;
}

#votation label input {
    position: absolute;
    top: -20px;
}

#votation input:checked+span {
    background-color: #404040;
    color: #F7F7F7;
}