<footer>
    <div class="container">
        <p>&copy; FingerVote 2019.</p>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="#">Privacidad</a>
            </li>
            <li class="list-inline-item">
                <a href="#">Términos y condiciones</a>
            </li>
            <li class="list-inline-item">
                <a href="#">P&R</a>
            </li>
        </ul>
    </div>
</footer>
