<footer>
    <div class="container">
        <p>&copy; FingerVote 2019.</p>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="#">Privacidad</a>
            </li>
            <li class="list-inline-item">
                <a href="#">Términos y condiciones</a>
            </li>
            <li class="list-inline-item">
                <a href="#">P&R</a>
            </li>
        </ul>
    </div>
</footer>

<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/scripts/new-age.min.js"></script>