<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Finger Vote</title>

    {{!-- fonts --}}
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" >
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    {{!-- styles --}}
    <link href="/css/style.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/daterangepicker.css" rel="stylesheet">
    <link href="/css/new-age.min.css" rel="stylesheet">

    {{!-- scripts --}}
<<<<<<< HEAD
    <script src="/scripts/angular.js"></script>
    <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/jquery-ui.js"></script>
    <script src="/scripts/moment.min.js"></script>
    <script src="/scripts/daterangepicker.min.js"></script>
    <script src="/scripts/popper.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    
=======
    <script src="/scripts/angular.js"></script>
    <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/jquery-ui.js"></script>
    <script src="/scripts/moment.min.js"></script>
    <script src="/scripts/daterangepicker.min.js"></script>
    <script src="/scripts/popper.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
>>>>>>> 8afea4a5f7664b24212a8edddbca5faf1e700c4c
</head>

<body>
    {{> navBar }}

    {{{ body }}}

    {{> footer }}
</body>

</html>