<header class="download bg-primary text-center" style="height: 89vh; min-height: 730px; padding-top: 0; padding-bottom: 0; background: linear-gradient(to left,#7b4397,#dc2430);">
    <div class="container h-100"style="padding-top: 5%;">
        <div class="row justify-content-md-center">
            <div class="col-md-4">
                {{> flashMsgs }}
                <div class="card text-center">
                    <div class="card-header">
                        <h3>Iniciar sesión</h3>
                    </div>
                    <div class="card-body">
                        <img src="/img/logo.jpg" alt="Logo" class="card-img-top mx-auto m-2 rounded-circle w-50">
                        <form action="/users/login" method="POST">
                            <div class="form-group">
                                <input type="text" class="form-control" name="username" id="username" placeholder="Nombre de usuario">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" id="password" placeholder="Contraseña">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success btn-block">Iniciar sesión</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<script>
    $('#username').focus();
</script>